<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logorosa"
        android:label="Casa Serena"
        android:roundIcon="@drawable/logorosa"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".OlvidadoActivity" />
        <activity android:name=".ConfiguracionActivity" />
        <activity android:name=".LecturaActivity" />
        <activity android:name=".ManualidadesActivity" />
        <activity android:name=".YogaActivity" />
        <activity android:name=".TaichiActivity" />
        <activity android:name=".RecreativasActivity" />
        <activity android:name=".FisicasActivity" />
        <activity android:name=".MenuInicio" />
        <activity android:name=".register" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>